@charset "UTF-8";
/**
 *
 * @authors Ted Shiu (tedshd@gmail.com)
 * @date    2016-01-04 10:39:55
 */

/* mod carousel */
:root {
    --arrow-layout: {
        z-index: 66;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 26px;
        height: 62px;
        margin: auto;
        cursor: pointer;
    };
}

.mod_carousel .mod_carousel_arrow_l[data-state=hide],
.mod_carousel .mod_carousel_arrow_r[data-state=hide] {
    display: none;
}
.mod_carousel {
    position: relative;
}
.mod_carousel .mod_carousel_dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px 3px;
    background: #a1a1a1;
    border-radius: 10px;
    cursor: pointer;
}
.mod_carousel .mod_carousel_dot[data-state=focus] {
    background: #4fb0df;
}
.mod_carousel .mod_carousel_arrow_l {
    @apply --arrow-layout;
    left: 0;
    background: #aaa;
}
.mod_carousel .mod_carousel_arrow_r {
    @apply --arrow-layout;
    right: 0;
    background: #aaa;
}

.mod_carousel .mod_carousel_container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.mod_carousel .mod_carousel_container ol {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 2400px;
    transition: left 1s;
}